.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
    width: 311px;
    height: auto;

    .check {
        margin: 5px;
    }

    .title {
        margin: 10px;
        overflow: auto;
        height: fit-content;
    }

    .lineThrough {
        text-decoration: line-through;
        margin: 10px;
    }

    .btnDel {
        margin: 5px;
    }
}