.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
    margin: 0 auto;

    .imgAccount {
        width: 50px;
        height: 50px;
    }

    .itemInput {
        margin: 10px;
        width: 200px;
        height: 50px;
    }

    .btn {
        margin: 10px;
        width: 200px;
        height: 50px;
    }

    .signup {
        margin: 20px 0px 0px 0px;
        font-size: 14px;

        span {
            opacity: 0.6;
        }

        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
                transition: 0.2s;
            }
        }
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .wrap {}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .wrap {}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .wrap {
        width: 100%;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {}