.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;

    .imgAccount {
        width: 50px;
        height: 50px;
    }

    .itemInput {
        margin: 10px;
        width: 200px;
        height: 50px;
    }

    .btn {
        margin: 10px;
        width: 200px;
        height: 50px;
    }

    .singup {
        margin: 20px 0px 0px 0px;
        font-size: 14px;

        span {
            opacity: 0.6;
        }

        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}