@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

// font-family: 'Poppins', sans-serif;
* {
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 5px;
    width: 100%;
    height: max-content;
    font-family: 'Poppins', sans-serif;
}

.day {
    background: linear-gradient(to bottom right, rgba(244, 82, 133, 0.715), rgba(185, 82, 244, 0.8));
}

.night {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(74, 1, 50, 0.8));
    color: white;

}