@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

// font-family: 'Poppins', sans-serif;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.day {
    transition: 0.3s;
    background: linear-gradient(to bottom right, rgba(244, 82, 133, 0.715), rgba(185, 82, 244, 0.8));
}

.night {
    transition: 0.3s;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(74, 1, 50, 0.8));
    color: white;

}